# python data type (자료형) <br>
- 데이터의 공통된 **특징과 용도**에 따라 분류하여 정의한 것
- 변수: 어떤 데이터를 저장할 수 있는 공간 / 메모리

## 단일값을 저장하는 타입
1. integer 정수형
2. float 실수형
3. string 문자형
4. boolean 불리언

In [1]:
i = 1 ; type(i)

int

In [2]:
f = 0.1 ; type(f)

float

In [3]:
s = 'hello' ; type(s)
# 작은 따옴표, 큰 따옴표

str

In [4]:
b = True ; type(b)
# 예약어 - True, False 형태 지킬 것 / 따옴표 사용하면 안 됨

bool

## 조합 데이터 타입
- 여러 개의 값을 저장하는 타입<br>

### 1. List 리스트
- 여러 값을 동일한 변수에 순차적으로 저장할 수 있는 용도의 자료형
- 서로 다른 데이터 타입을 가질 수 있다 (동일한 타입끼리도, 서로 다른 타입끼리도 가능)
- 중첩 가능
- 대괄호 [] 기호 사용
- list()
- 미리 리스트를 선언해놓고 그 안에 데이터를 쌓는 방식으로 많이 생성

In [5]:
x = []
# x = 빈 공간의 리스트

In [6]:
type(x)

list

In [7]:
x1 = list()
# y = 빈 공간의 리스트

In [8]:
type(x1)

list

In [9]:
x2 = [10, 20, 30] ; x2

[10, 20, 30]

In [10]:
type(x2)

list

In [11]:
len(x2)
# list의 길이에 대해서도 len 함수 사용 가능

3

indexing : 가리킨다<br>
slicing : 잘라낸다 / 추출한다<br>
**끝점 이전**까지 추출

In [12]:
x2[0]

10

In [13]:
x2[2]

30

In [14]:
x2[-1]

30

In [15]:
x2[0:1]
# 끝점 이전까지 추출 <=> x2[0]

[10]

In [16]:
x2[0:2]

[10, 20]

In [17]:
x2[1:]

[20, 30]

In [18]:
x2[0::2]

[10, 30]

In [19]:
x2[:-1]
# <=> index -2까지 추출

[10, 20]

In [20]:
x2[-1:]
# <=> x2[-1]

[30]

#### 리스트 값 수정<br>
list_name[index] = value<br>
'**=**' 기호를 사용해서 할당

In [21]:
x2[0]

10

In [22]:
x2[0] = 100

In [23]:
x2

[100, 20, 30]

In [24]:
x2[1:3] = [200, 300]
# 리스트의 여러 개의 원소를 수정할 떄는 리스트로 입력 / 개수 맞추기

In [25]:
x2

[100, 200, 300]

#### 리스트 변수 끝에 하나의 값을 추가하는 방법<br>
list_name.**append**(vlaue)

In [26]:
x2.append(400) ; x2 
# append ; 뒤에 원소 추가

[100, 200, 300, 400]

#### 인덱스 번호를 사용하여 특정 위치에 하나의 값을 입력하는 방법<br>
list_name.**insert**(index_num, value)

In [27]:
x2.insert(4, 500) ; x2

[100, 200, 300, 400, 500]

#### 기존 리스트 변수에 다른 리스트(여러 개의 값)를 결합/연결하는 방법 ; 뒤에 이어붙이는 방법<br>
list_name.**extend**(list_name2)<br>
'**+**' 기호 사용

In [28]:
x3 = [600, 700] ; x3

[600, 700]

In [29]:
x2.extend(x3) ; x2

[100, 200, 300, 400, 500, 600, 700]

In [30]:
x4 = [ 800, 900, 1000]

In [31]:
x2 + x4
# 미리보기

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [32]:
x5 = x2 + x4 ; x5
# 변수에 할당해야

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

#### 리스트 변수에 있는 값을 제거하는 방법<br>
list_name.**pop**(index)<br>
: pop()으로 index를 기록하지 않으면 가장 마지막 값<br>
del var[index]<br>
: del var로 index를 기록하지 않으면 변수 삭제

In [33]:
x5.pop()

1000

In [34]:
x5

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [35]:
x5[4]

500

In [36]:
x5.pop(4)
# pop에 대한 인수값으로는 하나의 숫자만 들어갈 수 있음

500

In [37]:
x5

[100, 200, 300, 400, 600, 700, 800, 900]

In [38]:
del x5[0]
# del = delete
# del은 일반적으로 변수를 삭제하는 데 사용하지만 변수 내의 원소를 삭제하는 데도 사용

In [39]:
x5

[200, 300, 400, 600, 700, 800, 900]

In [40]:
drink = ['콜라', '사이다', '콜라', '환타', '사이다', '콜라']

In [41]:
len(drink)

6

In [42]:
drink.count('콜라')

3

In [43]:
drink.index('콜라')
# list에서는 index만 사용 가능

0

In [44]:
drink.index('콜라', 1)

2

In [45]:
drink.index('콜라', 3)

5

In [46]:
drink.index('콜라', 6)
# index는 더 이상 찾을 수 없으면 오류 발생

ValueError: '콜라' is not in list

In [47]:
drink.find('콜라')
# list에서는 find 사용 불가

AttributeError: 'list' object has no attribute 'find'

#### 리스트 변수에 값을 기준으로 삭제하는 방법

In [48]:
drink.remove('콜라')
# 가장 처음에 있는 원소만 삭제

In [50]:
drink

['사이다', '콜라', '환타', '사이다', '콜라']

In [51]:
drink.remove('콜라') ; drink
# 다 지우기 위해선 count 개수만큼 반복문 사용 ; for / while

['사이다', '환타', '사이다', '콜라']

### 1-2. 중첩 리스트

In [52]:
x = [1, 2, 3,['a', 'b', 'c'], 4, 5] ; x
# 리스트 안에 리스트가 원소로 존재

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [53]:
type(x)

list

In [54]:
type(x[0])

int

In [55]:
type(x[3])

list

In [56]:
x[0:3]

[1, 2, 3]

In [57]:
x[2:5]

[3, ['a', 'b', 'c'], 4]

In [58]:
x[3]

['a', 'b', 'c']

In [59]:
x[3][0]

'a'

In [60]:
x[3][0:2]

['a', 'b']

In [61]:
x[3].append('d') ; x

[1, 2, 3, ['a', 'b', 'c', 'd'], 4, 5]

In [62]:
type(x[3][2])

str

In [63]:
del x[3][0] ; x
# pop으로는 삭제 불가

[1, 2, 3, ['b', 'c', 'd'], 4, 5]

In [64]:
x[3].insert(0, 'a') ; x

[1, 2, 3, ['a', 'b', 'c', 'd'], 4, 5]

In [65]:
x[3][0] = x[3][0].upper() ; x

[1, 2, 3, ['A', 'b', 'c', 'd'], 4, 5]

In [66]:
x[3][1] = x[3][1].upper() ; x

[1, 2, 3, ['A', 'B', 'c', 'd'], 4, 5]

In [67]:
x[3][2] = x[3][2].upper() ; x

[1, 2, 3, ['A', 'B', 'C', 'd'], 4, 5]

In [68]:
x[3][3] = x[3][3].upper() ; x

[1, 2, 3, ['A', 'B', 'C', 'D'], 4, 5]

In [69]:
x[0] = x[0] * 10 ; x
# 숫자(int)에 * 를 사용하면 사칙연산 곱하기 계산

[10, 2, 3, ['A', 'B', 'C', 'D'], 4, 5]

In [70]:
x[3][0] = x[3][0] * 2 ; x
# 문자에 * 를 사용하면 문자 복제

[10, 2, 3, ['AA', 'B', 'C', 'D'], 4, 5]

#### 리스트 변수 값을 지우는 방법<br>
변수는 유지하되 리스트 원소들을 삭제<br>
list_name.**clear**()

In [71]:
x.clear() ; x

[]

In [72]:
x.append(1) ; x

[1]

In [73]:
dir()
# 메모리에 생성된 변수 확인

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_23',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_39',
 '_4',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_49',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_6',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_70',
 '_71',
 '_72',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'b',
 'drink',
 'exit',
 'f',
 'get_ipython',
 'i',
 'quit',
 's',
 'x',
 'x1',
 'x2',
 'x3',
 'x4',
 'x5']

In [74]:
id(x)
# 메모리 주소

1791112631816

In [75]:
del x

In [76]:
id(x)

NameError: name 'x' is not defined

In [77]:
x = [1, 5, 3, 4, 2] ; x
# 리스트에는 입력한 순서대로 삽입

[1, 5, 3, 4, 2]

In [78]:
x.sort() ; x
# 올림차순 정렬 후 저장
#SQL: ORDER BY asc

[1, 2, 3, 4, 5]

In [79]:
x.sort(reverse = True) ; x
# 내림차순 정렬 후 저장
#SQL: ORDER BY desc

[5, 4, 3, 2, 1]

In [80]:
sorted(x)
# 미리보기만

[1, 2, 3, 4, 5]

In [81]:
x

[5, 4, 3, 2, 1]

In [82]:
sorted(x, reverse = True)

[5, 4, 3, 2, 1]

In [83]:
x

[5, 4, 3, 2, 1]

#### 리스트 변수값을 반대로 뒤집을 때

In [84]:
x[::-1]

[1, 2, 3, 4, 5]

In [85]:
x.reverse() ; x
# 역순으로 정렬 후 저장

[1, 2, 3, 4, 5]

##### 문제

In [86]:
king = [['주몽', '유리왕', '대무신왕'], ['태종무열왕', '경덕왕'], ['온조왕', '개로왕']]

In [87]:
king[0]

['주몽', '유리왕', '대무신왕']

In [88]:
king[1]

['태종무열왕', '경덕왕']

In [89]:
king[2]

['온조왕', '개로왕']

In [90]:
king[0][0]

'주몽'

[문제11] 1번 인덱스에 '원성왕' 추가하세요.

In [91]:
king[1].append('원성왕'); king

[['주몽', '유리왕', '대무신왕'], ['태종무열왕', '경덕왕', '원성왕'], ['온조왕', '개로왕']]

[문제12] 2번 인덱스에 '무왕' 추가하세요.

In [92]:
king[2].append('무왕') ; king

[['주몽', '유리왕', '대무신왕'], ['태종무열왕', '경덕왕', '원성왕'], ['온조왕', '개로왕', '무왕']]

[문제13] 0번 인덱스에 '대무신왕' 추가하세요.

In [93]:
king[0].append('대무신왕') ; king

[['주몽', '유리왕', '대무신왕', '대무신왕'], ['태종무열왕', '경덕왕', '원성왕'], ['온조왕', '개로왕', '무왕']]

[문제14] 0번 인덱스에 '미천왕', '미천왕', '광개토대왕' 한꺼번에 추가하세요.

In [94]:
king[0] = king[0] + ['미천왕', '미천왕', '광개토대왕'] ; king

[['주몽', '유리왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '광개토대왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '무왕']]

In [95]:
king[0].extend(['미천왕', '미천왕', '광개토대왕']) ; king

[['주몽', '유리왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '광개토대왕', '미천왕', '미천왕', '광개토대왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '무왕']]

In [96]:
x = [1,2] ; x.extend([3]) ; x

[1, 2, 3]

In [97]:
x = [1,2] ; x.extend([3, 4, 5]) ; x

[1, 2, 3, 4, 5]

In [98]:
x.append(6) ; x

[1, 2, 3, 4, 5, 6]

In [99]:
x.append([7, 8]) ; x
# 중첩으로 추가

[1, 2, 3, 4, 5, 6, [7, 8]]

[문제15] 2번 인덱스에 2번 위치에 '성왕' 추가하세요.

In [100]:
king[2].insert(2, '성왕') ; king

[['주몽', '유리왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '광개토대왕', '미천왕', '미천왕', '광개토대왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '성왕', '무왕']]

[문제16] '미천왕' 개수를 세어주세요.

In [101]:
king[0].count('미천왕')
# 어디에 있는지 모를 경우 list의 개수에 대해 반복문 수행

4

In [102]:
king.count('미천왕')
# 중첩 리스크의 경우 하나의 리스트를 하나의 원소로 보기 때문에 중첩 리스트 내 원소를 그냥 찾는 건 불가능

0

[문제17] 0번 인덱스만 정렬해주세요.

In [103]:
sorted(king[0])

['광개토대왕', '광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '미천왕', '미천왕', '유리왕', '주몽']

In [104]:
king[0].sort() ; king

[['광개토대왕', '광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '미천왕', '미천왕', '유리왕', '주몽'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '성왕', '무왕']]

[문제18] 0번 인덱스에 마지막 데이터를 삭제해주세요.

In [105]:
del king[0][-1] ; king

[['광개토대왕', '광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '미천왕', '미천왕', '유리왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '성왕', '무왕']]

In [106]:
king[0].pop() ; king

[['광개토대왕', '광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '미천왕', '미천왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '성왕', '무왕']]

### 2. Tuple 튜플
- 리스트와 유사하지만 수정, 삭제, 추가를 할 수 없다.
- 처리 속도는 리스트보다 빠름
- 소괄호 () 기호 사용

In [107]:
lst = [] ; type(lst)

list

In [108]:
tuple1 = () ; type(tuple1)

tuple

In [109]:
tuple2 = (10, 20, 30) ; tuple2

(10, 20, 30)

In [110]:
type(tuple2)

tuple

In [111]:
tu = 10, 20, 30 ; tu
# 여러 개의 값을 넣으면 소괄호에 안 넣어도 돌아감

(10, 20, 30)

In [112]:
type(tu)

tuple

In [113]:
tuple2.append(40)
# 추가 불가

AttributeError: 'tuple' object has no attribute 'append'

In [114]:
tuple2.pop()
# 삭제 불가

AttributeError: 'tuple' object has no attribute 'pop'

In [115]:
tuple2.insert(3, 40)
# 삽입 불가

AttributeError: 'tuple' object has no attribute 'insert'

In [116]:
tuple3 = 1 ; type(tuple3)

int

In [117]:
tuple3 = (1) ; type(tuple3)

int

In [118]:
tuple3 = (1,) ; type(tuple3)
# 하나의 원소만 넣을 때는 comma를 추가해야

tuple

In [119]:
tuple4 = ('a', 'b', ('ab', 'ac')) ; tuple4
# 튜플도 중첩 가능

('a', 'b', ('ab', 'ac'))

In [120]:
tuple4[0]

'a'

In [121]:
tuple4[2]

('ab', 'ac')

In [122]:
tuple4[2][0]

'ab'

In [123]:
tuple5 = (1, 2, ('a', 'b'))

In [124]:
tuple5[0]

1

In [125]:
type(tuple5[1])

int

In [126]:
type(tuple5[2])

tuple

In [127]:
type(tuple5[2][0])

str

In [128]:
x = (1, 2, 3) ; y = (4, 5, 6)

In [129]:
x.extend(y)

AttributeError: 'tuple' object has no attribute 'extend'

In [130]:
c = x + y ; c
# + 기호를 사용해서만 결합 가능

(1, 2, 3, 4, 5, 6)

In [131]:
c[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
c.index(1)
# 조회는 가능

In [ ]:
c.count(1)
# 조회는 가능

In [ ]:
1 in c

In [ ]:
2 not in c

In [ ]:
x = [1, 2, 3]

In [ ]:
type(x)

In [ ]:
one, two, three = x
# list x에 있는 원소들을 각각 변수로 할당

In [ ]:
one

In [ ]:
two

In [ ]:
three

In [ ]:
x = (1, 2, 3)

In [ ]:
one, two, three = x
# tuple x에 있는 원소들을 각각 변수로 할당

In [ ]:
one

In [ ]:
two

In [ ]:
three

### 3. Dictionary 딕셔너리
- key, value 값을 가지는 자료형
- 이름 = 홍길동, 전화번호 = 010-1004-1004. 주소 = 서울
- 중괄호 {} 기호 사용
- {key : value} 형태로 정의

In [ ]:
dic ={'name' : 'Hong', 'phone' : '010-1004-1004', 'address' : 'Seoul'}

In [ ]:
dic

In [ ]:
type(dic)

In [ ]:
dic.keys()
# key 값들만 추출

In [ ]:
dic.values()
# value 값들만 추출

In [ ]:
dic.items()
# (key, value) 형태로 추출

In [ ]:
sports = {'soccer':'Son', 'basketball':'Seo', 'baseball':'Park'}

In [132]:
sports['soccer']
# key값으로 value 값 추출

NameError: name 'sports' is not defined

In [ ]:
sports['basketball']

In [ ]:
sports['kurling'] = 'Kim'

In [ ]:
sports

In [ ]:
sports['kurling'] = ['Kym', 'Kej', 'Kky', 'Ksy', 'Kch']
# 중첩 리스트
# 리스트 내 원소만으로 검색 불가

In [ ]:
sports

In [ ]:
sports['kurling']

In [ ]:
sports.get('kurling')

In [ ]:
sports['bob']
# key가 없을 경우 오류

In [ ]:
sports.get('bob')
# key가 없을 경우 아무 것도 반환하지 않음

In [ ]:
'bob' in sports.keys()

In [ ]:
'kurling' in sports.keys()

In [ ]:
'Son' in sports.values()

In [ ]:
del sports['kurling']
#'kurling'을 key값으로 가지고 있는 key, value 삭제

In [ ]:
sports

In [ ]:
del sports['Son']
# value명으로는 삭제 불가

In [ ]:
sports['soccer'] = []
# key값은 남기고 value 값만 삭제

In [ ]:
sports

In [ ]:
sports['soccer'] = 'Lee'

In [ ]:
sports

In [ ]:
sports.clear()
# dictionary만 남겨놓고 key, value 모두 삭제

In [ ]:
sports

In [ ]:
sports = {'soccer' : 'Lee', 'basketball' : 'Heo'}

In [ ]:
v = sports.values()

In [ ]:
type(v)

In [ ]:
list(v)
# list 형태로 변환

In [ ]:
tuple(v)
# tuple 형태로 변환

In [ ]:
lst = list(v)

In [ ]:
lt = list(sports.keys())

In [ ]:
lt

In [ ]:
s = {} ; type(s)

### 4. Set 셋
- 집합 자료형
- 리스트와 비슷
- 단, 인덱스 순서가 없다
- 중복 허용X
- 중괄호 {} 기호 사용 *** 딕셔너리와 구분!!

In [ ]:
s = {1, 1, 1, 1, 2, 2, 2, 3, 4, 4, 5}

In [ ]:
s

In [ ]:
type(s)

In [ ]:
x = {1, 2, 3, 4} ; y = {1, 2, 3, 4, 5}

In [ ]:
x.union(y)
# 합집합 x V y

In [ ]:
x|y
# 합집합 x or y

In [ ]:
x.intersection(y)
# 교집합 x ^ y

In [ ]:
x&y
# 교집합 x and y

In [ ]:
x.difference(y)
# 차집합

In [ ]:
x-y
# 차집합

In [ ]:
y.difference(x)
# 차집합

In [ ]:
y - x
# 차집합

(A ^ ~ B) v (~ A ^ B)

In [ ]:
(x|y) - (x&y)

In [133]:
x.union(y) - x.intersection(y)

AttributeError: 'tuple' object has no attribute 'union'

In [135]:
x.difference(y) | y.difference(x)

AttributeError: 'tuple' object has no attribute 'difference'

In [ ]:
x.difference(y).union(y.difference(x))

In [ ]:
x.symmetric_difference(y)

In [136]:
y.symmetric_difference(x)

AttributeError: 'tuple' object has no attribute 'symmetric_difference'

In [ ]:
1 in x

In [ ]:
7 in y

In [ ]:
x[1]
# 집합에는 인덱스 없음

In [ ]:
x.remove(1)
# 집합변수의 하나의 값을 삭제
# remove() takes exactly one argument

In [ ]:
x

In [ ]:
x.add(1) ; x
# 집합변수에 하나의 값을 추가
# add() takes exactly one argument

In [ ]:
x.update([8, 9]) ; x
# 집합변수에 여러 개의 값을 추가
# [] list 형태로 작성 - 이건 중첩으로 삽입되지 않음

In [ ]:
x = [] ; type(x)

In [ ]:
y = () ; type(y)

In [ ]:
z = {} ; type(z)

In [ ]:
w = set() ; type(w)

### 5. bool
- 참(True)과 거짓(False)를 나타내는 자료형
- logical

In [ ]:
x = True ; y = False

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
x == y

In [ ]:
1 == 1

In [ ]:
2 > 1

In [ ]:
1 != 4

#### True 표현 방식
- 값이 있으면 bool(@) = True

In [ ]:
bool(1)

In [ ]:
bool(-1)

In [ ]:
bool('사랑의 불시착')

In [ ]:
bool('python')

In [ ]:
bool([1, 2, 3])

In [ ]:
lst = [1, 3, 5] ; bool(lst)

In [ ]:
bool((7%4))

In [ ]:
not 0

In [ ]:
not None

#### False 표현 방식
- 값이 없으면 bool(@) = False

In [ ]:
bool(0)

In [ ]:
0

In [137]:
bool(None)

False

In [138]:
None

In [139]:
bool('')

False

In [140]:
bool([])

False

In [141]:
bool({})

False

In [142]:
bool(3//5)

False

In [143]:
not 1

False

In [144]:
not -1

False

### 변수를 복제하기
- 변수를 복제하면 기존의 변수를 참조하고 있을 뿐 실제 데이터 값을 가지고 있는 것이 아님
- 기존의 변수에서 수정, 삭제, 삽입 등이 발생할 경우 복제한 변수에서도 변경됨
- 변수의 데이터를 복제하기 위해서는 **슬라이싱** 또는 **copy.deepcopy** 이용해서 복제

In [145]:
a = [1, 2, 3]

In [146]:
b = a
# reference

In [147]:
id(a)

1791130106760

In [148]:
id(b)
# 동일한 id / 메모리

1791130106760

In [149]:
a[0] = 10

In [150]:
a

[10, 2, 3]

In [151]:
b

[10, 2, 3]

In [152]:
x = a[:]

In [153]:
id(a)

1791130106760

In [154]:
id(x)
# 다른 id / 메모리

1791112631176

In [155]:
a.append(4)

In [156]:
a

[10, 2, 3, 4]

In [157]:
x

[10, 2, 3]

In [158]:
import copy
# 패키지 임포트

In [159]:
y = copy.deepcopy(a)

In [160]:
id(y)
# 다른 id / 메모리

1791130253256

## 조건제어문

### 1. IF문
if 조건문:<br>
    수행해야 할 문장<br>
if 조건문:<br>
    수행해야 할 문장<br>
else:<br>
    수행해야 할 문장<br>
<br>
**들여쓰기 주의!!**<br>

In [161]:
x = 10

In [162]:
if x == 10:
    print('x는 10입니다.')
    print('오늘 하루도 행복하자')

x는 10입니다.
오늘 하루도 행복하자

In [163]:
if x == 1:
    print('Hello')
else:
    print('Bye')

Bye

In [164]:
y = 100

In [165]:
if y == 10:
    print('y는 10입니다.')
else:
    print('오늘 하루 {}배 행복하자'.format(y))

오늘 하루 100배 행복하자

In [166]:
if 1:
    print('참')
else:
    print('거짓')

참

In [167]:
if 100:
    print('둘리 커플')
else:
    print('서구 커플')

둘리 커플

In [168]:
if 0:
    print('둘리 커플')
else:
    print('서구 커플')

서구 커플

In [169]:
x = [] ; 
if x:
    print('참')
else:
    print('거짓')

거짓

In [170]:
x = 0 ;
if x > 10 and 1 / x:
    print('T')
else:
    print('F')
# and라는 논리 연산자에서 첫 번째 조건이 거짓일 경우 그 이후 조건에 대해서는 확인하지 않음
# and 논리 연산자에서는 하나라도 거짓이면 거짓 -> 이미 거짓인 조건이 나왔으므로 거짓으로 반환

F

In [171]:
x = 0 ;
if x > 10 & 1 / x:
    print('T')
else:
    print('F')
# &라는 논리 연산자에서는 모든 조건에 대해서 확인
# & 논리 연산자에서는 하나라도 거짓이면 거짓 -> 이미 거짓인 조건이 나왔지만 다음 조건도 확인 -> 오류

ZeroDivisionError: division by zero

In [172]:
x = 0 ;
if 1 / x and x > 10:
    print('T')
else:
    print('F')
# 처음에 잘못된 조건이 나올 경우 and도 오류 반환

ZeroDivisionError: division by zero

In [173]:
x = 0 ;
if x < 10 or 1 / x:
    print('T')
else:
    print('F')
# or라는 논리 연산자에서 첫 번째 조건이 참일 경우 그 이후 조건에 대해서는 확인하지 않음
# or 논리 연산자에서는 하나만 참이어도 참 -> 이미 참인 조건이 나왔으므로 참으로 반환

T

In [174]:
x = 0 ;
if x < 10 | 1 / x:
    print('T')
else:
    print('F')
# |라는 논리 연산자에서는 모든 조건에 대해서 확인
# | 논리 연산자에서는 하나만 참이어도 참 -> 이미 참인 조건이 나왔지만 다음 조건도 확인 -> 오류

ZeroDivisionError: division by zero

In [175]:
x = 0 ;
if 1 / x or x < 10:
    print('T')
else:
    print('F')
# 처음에 잘못된 조건이 나올 경우 or도 오류 반환

ZeroDivisionError: division by zero

#### Input

In [177]:
input("점수를 입력하세요")
# 입력값을 받는 prompt 생성
# output은 문자형으로 반환

점수를 입력하세요10

'10'

In [178]:
x = input("점수를 입력하세요:")

점수를 입력하세요:10

In [179]:
x

'10'

In [180]:
type(x)

str

In [181]:
'90' in x

False

In [182]:
90 in x

TypeError: 'in <string>' requires string as left operand, not int

In [183]:
x = int(input("점수를 입력하세요:"))
# int(): 형 변환

점수를 입력하세요:20

In [185]:
x

20

In [186]:
type(x)

int

In [187]:
90 == x

False

In [ ]:
x = int(input("점수를 입력하세요:"))
if 90 <= x <= 100:
    grade = 'A'
elif 80 <= x < 90:
    grade = 'B'
elif 70 <= x < 80:
    grade = 'C'
elif 60 <= x < 70:
    grade = 'D'
else:
    grade = 'F'
# elif = else if

print("학점: " + grade)

[문제19] 숫자를 입력값으로 받아서 그 값이 짝수면 '짝수', 홀수면 '홀수'를 출력해주세요.

In [188]:
x = int(input("숫자를 입력하세요:"))
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')

숫자를 입력하세요:55
홀수

[문제20] 한글, 알파벳만 입력받아서 문자를 출력하고 아니면 '다른 문자가 포함되어 있습니다'를 출력해주세요.

In [202]:
x = input("글자를 입력하세요: ")
if x.isalpha() == True:
    print(x)
else:
    print('다른 문자가 포함되어 있습니다.')
# .isalpha() 괄호!!!!!!!!!!

글자를 입력하세요: 예쓰!
다른 문자가 포함되어 있습니다.

In [ ]:
x = input("글자를 입력하세요: ")
if x.isalpha():
    print(x)
else:
    print('다른 문자가 포함되어 있습니다.')
# 숫자, 특수문자, 공백 등 다 문자가 아닌 것으로 인식
# 공백문자 제거 후 문자 판단하는 것도 짜보기