### python data type (자료형) <br>
- 데이터의 공통된 **특징과 용도**에 따라 분류하여 정의한 것
- 변수: 어떤 데이터를 저장할 수 있는 공간 / 메모리
<br>
#### 단일값을 저장하는 타입
1. integer 정수형
2. float 실수형
3. string 문자형
4. boolean 불리언

In [1]:
i = 1 ; type(i)

int

In [2]:
f = 0.1 ; type(f)

float

In [3]:
s = 'hello' ; type(s)
# 작은 따옴표, 큰 따옴표

str

In [5]:
b = True ; type(b)
# 예약어 - True, False 형태 지킬 것 / 따옴표 사용하면 안 됨

bool

#### 조합 데이터 타입
- 여러 개의 값을 저장하는 타입<br>
1. list 리스트
- 여러 값을 동일한 변수에 순차적으로 저장할 수 있는 용도의 자료형
- 서로 다른 데이터 타입을 가질 수 있다 (동일한 타입끼리도, 서로 다른 타입끼리도 가능)
- 중첩 가능
- 대괄호 [] 기호 사용
- list()
- 미리 리스트를 선언해놓고 그 안에 데이터를 쌓는 방식으로 많이 생성

In [6]:
x = []
# x = 빈 공간의 리스트

In [7]:
type(x)

list

In [10]:
x1 = list()
# y = 빈 공간의 리스트

In [11]:
type(x1)

list

In [12]:
x2 = [10, 20, 30] ; x2

[10, 20, 30]

In [13]:
type(x2)

list

In [15]:
len(x2)
# list의 길이에 대해서도 len 함수 사용 가능

3

indexing : 가리킨다<br>
slicing : 잘라낸다 / 추출한다<br>
**끝점 이전**까지 추출

In [16]:
x2[0]

10

In [17]:
x2[2]

30

In [18]:
x2[-1]

30

In [19]:
x2[0:1]
# 끝점 이전까지 추출 <=> x2[0]

[10]

In [20]:
x2[0:2]

[10, 20]

In [21]:
x2[1:]

[20, 30]

In [22]:
x2[0::2]

[10, 30]

In [23]:
x2[:-1]
# <=> index -2까지 추출

[10, 20]

In [24]:
x2[-1:]
# <=> x2[-1]

[30]

#### 리스트 값 수정<br>
list_name[index] = value<br>
'**=**' 기호를 사용해서 할당

In [25]:
x2[0]

10

In [26]:
x2[0] = 100

In [27]:
x2

[100, 20, 30]

In [28]:
x2[1:3] = [200, 300]
# 리스트의 여러 개의 원소를 수정할 떄는 리스트로 입력 / 개수 맞추기

In [29]:
x2

[100, 200, 300]

#### 리스트 변수 끝에 하나의 값을 추가하는 방법<br>
list_name.**append**(vlaue)

In [30]:
x2.append(400) ; x2 
# append ; 뒤에 원소 추가

[100, 200, 300, 400]

#### 인덱스 번호를 사용하여 특정 위치에 하나의 값을 입력하는 방법<br>
list_name.**insert**(index_num, value)

In [31]:
x2.insert(4, 500) ; x2

[100, 200, 300, 400, 500]

#### 기존 리스트 변수에 다른 리스트(여러 개의 값)를 결합/연결하는 방법 ; 뒤에 이어붙이는 방법<br>
list_name.**extend**(list_name2)<br>
'**+**' 기호 사용

In [32]:
x3 = [600, 700] ; x3

[600, 700]

In [34]:
x2.extend(x3) ; x2

[100, 200, 300, 400, 500, 600, 700]

In [35]:
x4 = [ 800, 900, 1000]

In [36]:
x2 + x4
# 미리보기

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [38]:
x5 = x2 + x4 ; x5
# 변수에 할당해야

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 800, 900, 1000]

#### 리스트 변수에 있는 값을 제거하는 방법<br>
list_name.**pop**(index)<br>
: pop()으로 index를 기록하지 않으면 가장 마지막 값<br>
del var[index]<br>
: del var로 index를 기록하지 않으면 변수 삭제

In [39]:
x5.pop()

1000

In [41]:
x5

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 800, 900]

In [40]:
x5[4]

500

In [42]:
x5.pop(4)
# pop에 대한 인수값으로는 하나의 숫자만 들어갈 수 있음

500

In [43]:
x5

[100, 200, 300, 400, 600, 700, 800, 900, 1000, 800, 900]

In [44]:
del x5[0]
# del = delete
# del은 일반적으로 변수를 삭제하는 데 사용하지만 변수 내의 원소를 삭제하는 데도 사용

In [45]:
x5

[200, 300, 400, 600, 700, 800, 900, 1000, 800, 900]

In [58]:
drink = ['콜라', '사이다', '콜라', '환타', '사이다', '콜라']

In [47]:
len(drink)

6

In [48]:
drink.count('콜라')

3

In [49]:
drink.index('콜라')
# list에서는 index만 사용 가능

0

In [50]:
drink.index('콜라', 1)

2

In [51]:
drink.index('콜라', 3)

5

In [52]:
drink.index('콜라', 6)
# index는 더 이상 찾을 수 없으면 오류 발생

ValueError: '콜라' is not in list

In [53]:
drink.find('콜라')
# list에서는 find 사용 불가

AttributeError: 'list' object has no attribute 'find'

#### 리스트 변수에 값을 기준으로 삭제하는 방법

In [59]:
drink.remove('콜라')
# 가장 처음에 있는 원소만 삭제

In [60]:
drink

['사이다', '콜라', '환타', '사이다', '콜라']

In [61]:
drink.remove('콜라') ; drink
# 다 지우기 위해선 count 개수만큼 반복문 사용 ; for / while

['사이다', '환타', '사이다', '콜라']

### 중첩 리스트

In [62]:
x = [1, 2, 3,['a', 'b', 'c'], 4, 5] ; x
# 리스트 안에 리스트가 원소로 존재

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [63]:
type(x)

list

In [64]:
type(x[0])

int

In [65]:
type(x[3])

list

In [66]:
x[0:3]

[1, 2, 3]

In [67]:
x[2:5]

[3, ['a', 'b', 'c'], 4]

In [68]:
x[3]

['a', 'b', 'c']

In [69]:
x[3][0]

'a'

In [70]:
x[3][0:2]

['a', 'b']

In [71]:
x[3].append('d') ; x

[1, 2, 3, ['a', 'b', 'c', 'd'], 4, 5]

In [72]:
type(x[3][2])

str

In [81]:
del x[3][0] ; x
# pop으로는 삭제 불가

[1, 2, 3, ['a', 'b', 'c', 'd'], 4, 5]

In [79]:
x[3].insert(0, 'a') ; x

[1, 2, 3, ['a', 'a', 'b', 'c', 'd'], 4, 5]

In [82]:
x[3][0] = x[3][0].upper() ; x

[1, 2, 3, ['A', 'b', 'c', 'd'], 4, 5]

In [83]:
x[3][1] = x[3][1].upper() ; x

[1, 2, 3, ['A', 'B', 'c', 'd'], 4, 5]

In [84]:
x[3][2] = x[3][2].upper() ; x

[1, 2, 3, ['A', 'B', 'C', 'd'], 4, 5]

In [85]:
x[3][3] = x[3][3].upper() ; x

[1, 2, 3, ['A', 'B', 'C', 'D'], 4, 5]

In [86]:
x[0] = x[0] * 10 ; x
# 숫자(int)에 * 를 사용하면 사칙연산 곱하기 계산

[10, 2, 3, ['A', 'B', 'C', 'D'], 4, 5]

In [87]:
x[3][0] = x[3][0] * 2 ; x
# 문자에 * 를 사용하면 문자 복제

[10, 2, 3, ['AA', 'B', 'C', 'D'], 4, 5]

#### 리스트 변수 값을 지우는 방법<br>
변수는 유지하되 리스트 원소들을 삭제<br>
list_name.**clear**()

In [88]:
x.clear() ; x

[]

In [89]:
x.append(1) ; x

[1]

In [90]:
dir()
# 메모리에 생성된 변수 확인

['In',
 'Out',
 '_',
 '_1',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_27',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_34',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_45',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_55',
 '_57',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_7',
 '_70',
 '_71',
 '_72',
 '_73',
 '_78',
 '_79',
 '_80',
 '_81',
 '_82',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_88',
 '_89',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'b',
 'drink',
 'exit',
 'f',
 'get_ipython',
 'i',
 'quit',
 's',
 'x',
 'x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'y']

In [91]:
id(x)
# 메모리 주소

2217174369608

In [92]:
del x

In [93]:
id(x)

NameError: name 'x' is not defined

In [101]:
x = [1, 5, 3, 4, 2] ; x
# 리스트에는 입력한 순서대로 삽입

[1, 5, 3, 4, 2]

In [99]:
x.sort() ; x
# 올림차순 정렬 후 저장
#SQL: ORDER BY asc

[1, 2, 3, 4, 5]

In [100]:
x.sort(reverse = True) ; x
# 내림차순 정렬 후 저장
#SQL: ORDER BY desc

[5, 4, 3, 2, 1]

In [102]:
sorted(x)
# 미리보기만

[1, 2, 3, 4, 5]

In [103]:
x

[1, 5, 3, 4, 2]

In [104]:
sorted(x, reverse = True)

[5, 4, 3, 2, 1]

In [105]:
x

[1, 5, 3, 4, 2]

#### 리스트 변수값을 반대로 뒤집을 때

In [108]:
x[::-1]

[2, 4, 3, 5, 1]

In [111]:
x.reverse() ; x
# 역순으로 정렬 후 저장

[2, 4, 3, 5, 1]

##### 문제

In [145]:
king = [['주몽', '유리왕', '대무신왕'], ['태종무열왕', '경덕왕'], ['온조왕', '개로왕']]

In [113]:
king[0]

['주몽', '유리왕', '대무신왕']

In [114]:
king[1]

['태종무열왕', '경덕왕']

In [115]:
king[2]

['온조왕', '개로왕']

In [116]:
king[0][0]

'주몽'

[문제11] 1번 인덱스에 '원성왕' 추가하세요.

In [146]:
king[1].append('원성왕'); king

[['주몽', '유리왕', '대무신왕'], ['태종무열왕', '경덕왕', '원성왕'], ['온조왕', '개로왕']]

[문제12] 2번 인덱스에 '무왕' 추가하세요.

In [147]:
king[2].append('무왕') ; king

[['주몽', '유리왕', '대무신왕'], ['태종무열왕', '경덕왕', '원성왕'], ['온조왕', '개로왕', '무왕']]

[문제13] 0번 인덱스에 '대무신왕' 추가하세요.

In [148]:
king[0].append('대무신왕') ; king

[['주몽', '유리왕', '대무신왕', '대무신왕'], ['태종무열왕', '경덕왕', '원성왕'], ['온조왕', '개로왕', '무왕']]

[문제14] 0번 인덱스에 '미천왕', '미천왕', '광개토대왕' 한꺼번에 추가하세요.

In [124]:
king[0] = king[0] + ['미천왕', '미천왕', '광개토대왕'] ; king

[['주몽', '유리왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '광개토대왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '무왕']]

In [149]:
king[0].extend(['미천왕', '미천왕', '광개토대왕']) ; king

[['주몽', '유리왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '광개토대왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '무왕']]

In [139]:
x = [1,2] ; x.extend([3]) ; x

[1, 2, 3]

In [142]:
x = [1,2] ; x.extend([3, 4, 5]) ; x

[1, 2, 3, 4, 5]

In [143]:
x.append(6) ; x

[1, 2, 3, 4, 5, 6]

In [144]:
x.append([7, 8]) ; x
# 중첩으로 추가

[1, 2, 3, 4, 5, 6, [7, 8]]

[문제15] 2번 인덱스에 2번 위치에 '성왕' 추가하세요.

In [126]:
king[2].insert(2, '성왕') ; king

[['주몽', '유리왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '광개토대왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '성왕', '무왕']]

[문제16] '미천왕' 개수를 세어주세요.

In [130]:
king[0].count('미천왕')
# 어디에 있는지 모를 경우 list의 개수에 대해 반복문 수행

2

In [150]:
king.count('미천왕')
# 중첩 리스크의 경우 하나의 리스트를 하나의 원소로 보기 때문에 중첩 리스트 내 원소를 그냥 찾는 건 불가능

0

[문제17] 0번 인덱스만 정렬해주세요.

In [131]:
sorted(king[0])

['광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '유리왕', '주몽']

In [151]:
king[0].sort() ; king

[['광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '유리왕', '주몽'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '무왕']]

[문제18] 0번 인덱스에 마지막 데이터를 삭제해주세요.

In [137]:
del king[0][-1] ; king

[['광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '유리왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '성왕', '무왕']]

In [152]:
king[0].pop() ; king

[['광개토대왕', '대무신왕', '대무신왕', '미천왕', '미천왕', '유리왕'],
 ['태종무열왕', '경덕왕', '원성왕'],
 ['온조왕', '개로왕', '무왕']]