##### python의 특징<br>
- 문법이 쉽다<br>
- 가독성이 좋다<br>
- 풍부한 라이브러리<br>
- 이식성이 좋다<br>
- 무료 프로그램<br>
- 동적 타이밍

### 사칙연산

In [1]:
1+2

3

In [2]:
2-1

1

In [ ]:
1*2

In [ ]:
1/2

In [3]:
5//3

1

In [4]:
5%3

2

나눗셈의 몫
- SQL: 
- python: a//b
- R:

나눗셈의 나머지
- SQL: SELECT mod(a, b) FROM dual;
- python: a%b
- R:  a%%b

In [14]:
a = 1; a = a + 1; a

2

In [15]:
b = 1; b += 1 ; b

2

In [21]:
f = 10.12 ; type(f)

float

In [22]:
e = 10.4e3 ; type(e)

float

##### 문제

[문제1]x, y변수에 있는 값을 기준으로 수행한 결과입니다.<br>
x와 y변수에 어떤 값이 있어야 하고, 또한 결과값이 나오기 위해서 어떤 계산식을 만들어야 하는지 계산식을 만들어 보세요.<br>
result_1 = 7<br>
result_2 = 3<br>
result_3 = -3<br>
result_4 = 10<br>
result_5 = 0.4<br>
result_6 = 0<br>
result_7 = 2<br>
result_8 = 32<br>
result_9 = 7.0<br>
result_10 = -21<br>
result_11 = 50<br>
result_12 = 29<br>

In [57]:
x = 2 ; y = 5

In [6]:
x + y

7

In [18]:
y - x

3

In [7]:
x - y

-3

In [9]:
x * y

10

In [10]:
x / y

0.4

In [17]:
x // y

0

In [19]:
x % y

2

In [20]:
x ** y

32

In [58]:
(x+y) / (y-x*x)

7.0

In [ ]:
(x+y) * (x-y)

In [ ]:
x * y**x

In [ ]:
x**x + y**x

### 논리 연산자
-bool type

In [23]:
x = 1 ; y= 2 ; x ==y

False

In [31]:
x != y

True

In [ ]:
x > y

In [ ]:
x < y

In [ ]:
2 > 1 and 3 > 2

In [ ]:
2 > 1 or 3 < 2

In [ ]:
not 2 < 1

### 문자열

In [ ]:
a = '대한민국' ; a

In [ ]:
n = '대한민국\n짝짝짝' ; print(n) 
# \n: 줄 바꿈

In [ ]:
t = '사랑의\t불시착' ; print(t) 
# \t: tab

In [ ]:
d = '윤세리\0리정혁'; print(d) 
# \0: null(빈 칸)

In [ ]:
print('행복하자\0둘리커플\\')
# \\: \ 표시

In [ ]:
print('잘하자\'파이썬\'')
# \': ' 표시

In [ ]:
print("잘하자'파이썬'")
# 문자열 표시와 인용구 표시를 다르게 해도 됨

In [ ]:
x = '김주연' ; y = '파이썬 개발자'
x + y
# +: 문자열에 대해서 연결연산자

In [ ]:
x = '윤세리S2' ; y = '리정혁S2'
(x+y)*10

In [ ]:
print("*" * 10)

In [ ]:
name = '김주연' ;
music = 'all for you'

In [ ]:
print("안녕하세요. {}입니다. 즐겨듣는 음악은 {}입니다.".format(name, music))
# {} + .foramt()

In [ ]:
print("안녕하세요. %s입니다. 즐겨듣는 음악은 %s입니다."%(name, music))
# %(type) + %()

In [ ]:
print("안녕하세요. " + name  + "입니다. 즐겨듣는 음악은 " + music + "입니다.")
# 문자열 연결

In [ ]:
divmod(x, y) = (x//y, x%y) 반환
# 몫과 나머지를 반환하는 함수

In [ ]:
quotient, remainder = divmod(x, y)

In [ ]:
type(divmod(x, y)) # tuple: vector

In [ ]:
print("{}를 {}로 나누면 몫은 {}이고 나머지는 {}이다.".format(x, y, quotient, remainder))

In [ ]:
print("%d를 %d로 나누면 몫은 %d이고 나머지는 %d이다."%(x, y, quotient, remainder))

In [ ]:
x = 3.141592

In [ ]:
print("원주율은 %d입니다." %x) 
# %d: 정수형 반환

In [ ]:
print("원주율은 %i입니다." %x) 
# %i: 정수형 반환

In [ ]:
print("원주율은 %f입니다." %x) 
# %f: 실수형 반환

In [ ]:
print("원주율은 %s입니다." %x) 
# %s: 문자형 반환

In [ ]:
print("원주율은 {}입니다.".foramt(x)) 
# {}: 문자형 반환

In [ ]:
print('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
print('p', 'y', 't', 'h', 'o', 'n', sep='')
# sep='' 옵션: 앞에 문자들을 ‘ ‘ 안에 있는 기호를 구분자로 해서 연결

In [ ]:
print('p', 'y', 't', 'h', 'o', 'n', sep='|')

In [ ]:
print('p', 'y', 't', 'h', 'o', 'n', sep=',')

In [ ]:
print('p', 'y', 't', 'h', 'o', 'n', sep='.')

In [ ]:
print('p', 'y', 't', 'h', 'o', 'n', sep='_')

In [ ]:
print('p', 'y', 't', 'h', 'o', 'n', sep='-')

In [ ]:
print("데이터 과학", end=' ')
print("빅데이터", end= ' ')
print("데이터 분석")
# end='' 옵션:연결해서 한 줄에 출력

### 인덱싱 / 슬라이싱

char[start, end+1, by]

In [ ]:
x = "둘리커플 결혼하자"

In [ ]:
type(x)

In [ ]:
len(x)
# 문자열 길이

In [ ]:
x[:] 
# select all

In [ ]:
x[0] 
# index = 0인 element

In [ ]:
x[1] 
# index = 1인 element: 두 번째

In [ ]:
x[-1]  
# index = -1인 element: 뒤에서 첫 번째

In [ ]:
x[-2] 
# index = -2인 element: 뒤에서 두 번째

In [ ]:
x[0:4] 
# from 0 to 3(= 4-1) 
# 끝 번호 이전까지 추출

In [ ]:
x[-4:-2]
# from -4 to -3(=-2-1)

In [ ]:
x[:2] 
# ⇔ x[0:2]

In [ ]:
x[4:] 
# ⇔ x[4:9]

In [ ]:
x = '0123456789'

In [ ]:
x[::2]
# 02468

In [ ]:
x[::3] 
# 0369

In [ ]:
x[0:7:2
# 0246 
# from 0 to 7 by 2

In [ ]:
x[5::2] 
# 579 
# from 5 to end by 2

In [ ]:
x[::-1] 
# 9876543210 
# from start to end by -1

##### 문제

[문제2] v_str 변수에 '시간은 멈추지 않습니다. 하루를 유익하게 살아야 합니다.'를 입력하고 아래를 수행하세요.<br>
1) '시간은 멈추지 않습니다'만 출력하세요.
2) '하루를 유익하게 살아야 합니다.'만 출력하세요.
3) '살아야 합니다'만 출력하세요
4) '시추니루하' 글자만 출력하세요 
'시간은 멈추지 않습니다. 하루를 유익하게'만 출력하세요
v_str 변수에 값을 역순으로 출력해주세요.

1) '시간은 멈추지 않습니다'만 출력하세요.

In [ ]:
v_str[0:12]

In [ ]:
v_str[:-18]

2) '하루를 유익하게 살아야 합니다.'만 출력하세요.

In [ ]:
v_str[14:]

In [ ]:
v_str[-17:]

3) '살아야 합니다'만 출력하세요

In [ ]:
v_str[23:]

In [ ]:
v_str[-8:]

4) '시추니루하' 글자만 출력하세요

In [ ]:
v_str[:30:5]

5) '시간은 멈추지 않습니다. 하루를 유익하게'만 출력하세요

In [ ]:
v_str[:22

In [ ]:
v_str[:-9]

6) v_str 변수에 값을 역순으로 출력해주세요.

In [ ]:
v_str[::-1]

### 문자함수

In [24]:
x = '둘리커플'

In [27]:
x = x.replace('둘', '리'); x

'리리커플'

In [29]:
x = x.replace('리', '둘') ; x
# 문자열에 포함된 모든 글자 변환

'둘둘커플'

In [32]:
x = 'hello, world' ; x

'hello, world'

In [33]:
x.split(',')
# 원본 문자열을 입력한 매개변수를 기준으로 나누어서 리스트를 만든다

['hello', ' world']

In [34]:
x = 'abc'

In [35]:
','.join(x)
# 원본 글자 사이에 특정한 문자열을 추가
# 문자열 사이에 기호를 삽입하는 데 사용

'a,b,c'

In [36]:
x = ','.join(x) ; x

'a,b,c'

In [91]:
test = ['a', 'b', 'c']

In [92]:
test = '.'.join(test); test
# 리스트를 하나의 문자열로 합치는 데 사용

'a.b.c'

##### 문제

In [61]:
x = 'a b c d e f g'

[문제3] x변수의 문자의 개수를 구하세요

In [38]:
len(x)

13

[문제4] x변수의 공백문자의 개수를 구하세요

In [40]:
x.count(' ')

6

[문제5] x변수의 공백문자를 제외한 개수를 구하세요

In [42]:
len(x) - x.count(' ')

7

[문제6] x변수에 있는 공백문자를 제거한 후 y변수에 입력해주세요

In [74]:
y = x.replace(' ', ''); y

'abcdefg'

[문제7] y변수에 있는 문자를 분리한 후 z변수에 입력해주세요

In [72]:
y1 = ','.join(y) ; y1
# replace로 하면 양쪽 끝에도 대체되기 때문에 strip을 한 번 더 거쳐야 함
# list를 string 형태로 표현

'a,b,c,d,e,f,g'

In [73]:
z = y1.split(','); z

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [84]:
url = 'https://www.python.org'

[문제8] https://를 제거한 후 url 변수에 입력해주세요

In [85]:
url1 = url[8:]; url1

'www.python.org'

In [87]:
url2 = url.lstrip('https://'); url2

'www.python.org'

[문제9] url 변수에 있는 문자 데이터에 .을 기준으로 분리할 후 url 변수에 입력

In [88]:
url1 = url1.split('.'); url1

['www', 'python', 'org']

[문제10] url 변수에 있는 문자 데이터를 www.python.org로 만든 후 url 변수에 입력해주세요.

In [90]:
url = '.'.join(url1) ; url

'www.python.org'