[문제69] 표준편차를 구하는 stddev 함수를 생성하세요<br>
<br>++ 참고 ++ <br>
sumF: 관측값의 합<br>
len: 관측값의 수<br>
mean: 관측값의 합 / 관측값의 수<br>
dev: 관측값 - 평균<br>
devsum: 편차제곱합 ; sum(dev^2)<br>
var: 편차제곱합 / 관측값의 수 - 1 (i.e 자유도)<br>
stddev: 표준편차  = math.sqrt(std)

In [2]:
import math

In [19]:
x = [1, 2, 3, 4, 5]

In [20]:
sum(x)

15

In [5]:
def sumF(arg):
    sumP = 0
    for i in arg:
        sumP = sumP + i
    return sumP

In [21]:
sumF(x)

15

In [10]:
def mean(arg):
    mu = sumF(arg) / len(arg)
    return mu

In [22]:
mean(x)

3.0

In [14]:
def variance(arg):
    devsum = 0
    for i in arg:
        devsum = devsum + (i - mean(arg)) ** 2
    var = devsum / (len(arg) - 1)
    return var

In [23]:
variance(x)

2.5

In [16]:
def stddev(arg):
    std = math.sqrt(variance(arg))
    return std

In [24]:
stddev(x)

1.5811388300841898

In [25]:
def std(arg):
    sumF = 0
    for i in arg:
        sumF = sumF + i
    cnt = len(arg)
    mean = sumF / cnt
    devsum = 0 
    for i in arg:
        devsum = devsum + (i - mean) ** 2
    var = devsum / (cnt - 1)
    stdv = math.sqrt(var)
    return stdv

In [26]:
std(x)

1.5811388300841898

In [27]:
y = (1, 2, 3, 4, 5)

In [32]:
stddev(y)

1.5811388300841898

In [28]:
std(y)

1.5811388300841898

In [29]:
z = {1, 2, 3, 4, 5}

In [30]:
std(z)

1.5811388300841898

In [31]:
stddev(z)

1.5811388300841898

-----

In [38]:
def lenF(*arg):
    cn = 0
    for i in arg:
        cn += 1
    return cn
# *arg: 가변 길이의 input
# 함수의 parameter로 *arg를 이용하면 argument들의 수에 구애받지 않음
# list가 아닌 input을 다루는 데 있어 len()은 오류가 발생하므로 함수 따로 정의

In [43]:
len(1,2,3,4,5)

TypeError: len() takes exactly one argument (5 given)

In [39]:
lenF(1,2,3,4,5)

5

In [40]:
x = (1, 2, 3, 4, 5)

In [41]:
lenF(x)

1

In [42]:
lenF(*x)
# 리스트를 input으로 넣을 때는 * 붙여야 함

5

In [50]:
def sumF(*arg):
    total = 0
    for i in arg:
        total += i
    return total

In [51]:
sumF(1,2,3,4,5)

15

In [52]:
def mean(*arg):
    return sumF(*arg) / lenF(*arg)

In [53]:
mean(1,2,3,4,5)

3.0

In [46]:
def variance(*arg):
    total = 0
    m = mean(*arg)
    for i in arg:
        total += (i - m) ** 2
    return total / (lenF(*arg) - 1)
# 표본분산

In [54]:
variance(1,2,3,4,5)

2.5

In [47]:
def stddev(*arg):
    return math.sqrt(variance(*arg))

In [55]:
stddev(1,2,3,4,5)

1.5811388300841898

-----

In [56]:
import sys

In [69]:
sys.path

['C:\\Users\\knit',
 'C:\\Users\\knit\\Anaconda3\\python37.zip',
 'C:\\Users\\knit\\Anaconda3\\DLLs',
 'C:\\Users\\knit\\Anaconda3\\lib',
 'C:\\Users\\knit\\Anaconda3',
 '',
 'C:\\Users\\knit\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\knit\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\knit\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\knit\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\knit\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\knit\\.ipython',
 'C:\\python2020',
 'C:\\python2020']

In [62]:
sys.path.append('C:\\python2020')

In [71]:
import stats
# 파일 - 옵션 - 보기 - 파일 및 폴더 - '알려진 파일 형식의 파일 확장명 숨기기' 해제
# 자주 사용하는 코드들을 저장해놓고 import로 불러들이기

In [72]:
dir(stats)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'lenF',
 'math',
 'mean',
 'stddev',
 'sumF',
 'variance']

In [74]:
stats.sumF(1,2,3,4,5)
# library.function 형태로 사용

15

In [80]:
del stats
# 메모리에서 stats 제거

NameError: name 'stats' is not defined

In [76]:
from stats import *
# library 내 모든 method import

In [77]:
sumF(1,2,3)
# function 이름으로만 사용 가능

6

In [78]:
from stats import variance
# 일부 method만 import

In [81]:
variance(1,2,3)
# 다른 함수들이랑 연결되어 있기 때문에 안 돌아갈 수도 있음

1.0

In [82]:
sys.path.remove('C:\\python2020')

In [87]:
from setfunc import *

In [88]:
minus([1,2,3], [2,3,4])

[1]

In [91]:
import datetime as dt

In [92]:
dt.date.today()
# sysdate - yyyy, mm, dd

datetime.date(2020, 2, 25)

In [93]:
dt.datetime.now()
# sysdate - yyyy, mm, dd, hh, mi, ss, ssssss(micro second)

datetime.datetime(2020, 2, 25, 11, 57, 34, 558072)

In [94]:
dt.date.today().year

2020

In [95]:
dt.date.today().month

2

In [96]:
dt.date.today().day

25

In [97]:
dt.datetime.now().hour

12

In [99]:
dt.datetime.now().minute

0

In [100]:
dt.datetime.now().second

55

In [101]:
dt.datetime.now().microsecond

187758

In [103]:
dt.datetime.now().date()

datetime.date(2020, 2, 25)

In [104]:
dt.datetime.now().time()

datetime.time(12, 2, 12, 232517)

In [107]:
dt.datetime.now().weekday()
# 0: 월요일 ~ 6: 일요일

1

[문제70] 오늘 무슨 요일인지 출력해주세요

In [105]:
days = ["월", "화", "수", "목", "금", "토", "일"]

In [109]:
days[dt.datetime.now().weekday()]

'화'

In [131]:
d = dt.datetime.now()

In [111]:
type(d.year)

int

In [112]:
d.strftime('%x')
# 월/일/연도 - 문자형

'02/25/20'

In [132]:
d.strftime('%X')
# 시:분:초 - 문자형

'13:37:33'

In [114]:
d.strftime('%Y')
# 연도 네 자리

'2020'

In [123]:
d.strftime('%y')
# 연도 두 자리

'20'

In [115]:
d.strftime('%m')
# 월

'02'

In [116]:
d.strftime('%d')
# 일

'25'

In [117]:
d.strftime('%B')
# 월 영문

'February'

In [126]:
d.strftime('%b')
# 월 영문 축약

'Feb'

In [133]:
d.strftime('%H')
# 시간 24H

'13'

In [134]:
d.strftime('%I')
# 시간 12H

'01'

In [121]:
d.strftime('%M')
# 분

'09'

In [122]:
d.strftime('%S')
# 초

'11'

In [135]:
d.strftime('%Y-%m-%d %H:%M:%S.%f')

'2020-02-25 13:37:33.186286'

In [136]:
d.strftime('%A')
# 요일

'Tuesday'

In [127]:
d.strftime('%a')
# 요일 약자

'Tue'

In [137]:
d.strftime('%c')
# 날짜 시간

'Tue Feb 25 13:37:33 2020'

In [138]:
d.strftime('%p')
# AM/PM

'PM'

In [139]:
d.strftime('%j')
# 연초(1월1일)부터 누적 날짜

'056'

In [140]:
d.strftime('%U')
# 연초(1월1일)부터 누적 주 - 일요일 시작

'08'

In [141]:
d.strftime('%W')
# 연초(1월1일)부터 누적 주 - 월요일 시작

'08'

In [142]:
d.strftime('%w')
# 요일 - 0: 일요일 ~ 6: 토요일

'2'

In [143]:
d.strftime('%F')
# 연-월-일

'2020-02-25'

strftime: date -> str<br>
strptime: str -> date<br>

In [147]:
dt.datetime.strptime('2020-02-25 13:42:00', '%Y-%m-%d %H:%M:%S')
# to_date

datetime.datetime(2020, 2, 25, 13, 42)

In [153]:
d = dt.date(2020,2,25)
# str -> datetime ; date

In [154]:
t = dt.time(13, 45, 2, 123456)
# atr -> datetime ; time

In [155]:
dt.datetime.combine(d, t)

datetime.datetime(2020, 2, 25, 13, 45, 2, 123456)

In [156]:
dt.datetime(2020,2,25)
# str -> datetime
# 시간에 대한 정보가 없을 경우 0시 0분 default

datetime.datetime(2020, 2, 25, 0, 0)

In [157]:
dt.datetime(2020,2,25) - dt.datetime(2020,1,16)

datetime.timedelta(days=40)

In [158]:
(dt.datetime(2020,2,25) - dt.datetime(2020,1,16)).days

40

In [159]:
dt.datetime(2020,2,25) + dt.timedelta(days =100)

datetime.datetime(2020, 6, 4, 0, 0)

In [160]:
dt.datetime(2020,2,25) + dt.timedelta(93)

datetime.datetime(2020, 5, 28, 0, 0)

In [161]:
dt.datetime(2020,2,25) + dt.timedelta(hours = 1)

datetime.datetime(2020, 2, 25, 1, 0)

In [162]:
dt.datetime(2020,2,25) + dt.timedelta(minutes = 180)

datetime.datetime(2020, 2, 25, 3, 0)

In [164]:
dt.datetime(2020,2,25) + dt.timedelta(seconds = 3600)

datetime.datetime(2020, 2, 25, 1, 0)

dt.timedelta로는 날짜, 시간, 분, 초만 계산할 수 있음

In [166]:
import time as tm

In [168]:
tm.time()
# 1970년 1월 1일 0시 0분 0초를 기준으로 지난 시간을 초 단위로 반환
# UTC(Universal TOne Coordinated 세계현정표준시)를 이용해서 실수형태로 반환

1582606591.6281428

In [169]:
tm.localtime()

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=25, tm_hour=13, tm_min=58, tm_sec=40, tm_wday=1, tm_yday=56, tm_isdst=0)

In [170]:
tm.localtime().tm_year

2020

In [171]:
tm.localtime().tm_mon

2

In [172]:
tm.localtime().tm_mday

25

In [173]:
tm.localtime().tm_hour

14

In [174]:
tm.localtime().tm_min

0

In [175]:
tm.localtime().tm_sec

59

In [176]:
tm.localtime().tm_wday
# 0: 월 ~ 6: 일

1

In [177]:
tm.localtime().tm_yday

56

In [178]:
tm.localtime().tm_isdst
# 일광 절약시 - 써머 타임

0

In [179]:
tm.localtime().tm_zone

'¢¥eCN©öI¡¾©ö C¡ÍA¨ª¨öA'

In [180]:
tm.strftime('%Y %z', tm.localtime())
# time.strftime(exp, time_info)

'2020 +0900'

In [181]:
for i in range(10):
    print(i)
    time.sleep(2) # 2초 대기 후 다음 작업

0
1
2
3
4
5
6
7
8
9

-----

In [182]:
import calendar as cd

In [184]:
print(cd.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [185]:
cd.prcal(2020)

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [186]:
cd.prmonth(2020,2)

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

In [187]:
cd.weekday(2020,2,25)
#0: 월 ~ 6: 일

1

In [188]:
cd.monthrange(2020,2)
# 해달 월의 첫 날짜의 요일, 마지막 날짜
# tuple 형태로 반환

(5, 29)

In [189]:
'월화수목금토일'[1]

'화'

In [191]:
'월화수목금토일'[cd.weekday(2020,2,25)]

'화'

In [192]:
'월화수목금토일'[tm.localtime().tm_wday]

'화'

[문제71] 아래와 같이 출력될 수 있는 프로그램을 생성하세요.<br>
1에서 천만까지 짝수합, 홀수합 구하세요.<br>
<br>
1에서 천만까지 짝수합: <br>
1에서 천만까지 홀수합: <br>
처리 시간:

In [219]:
even = 0 ; odd = 0 ;
bg = tm.process_time()
for i in range(1, 10**7+1):
    if i % 2 == 0:
        even = even + i
    else:
        odd = odd + i
print('1에서 천만까지 짝수합:', even, '\n1에서 천만까지 홀수합:', odd, '\n처리 시간:', tm.process_time() - bg)
# tm.process_time()으로 하면 위에서부터 여기까지 다 돌린 시간 반환

1에서 천만까지 짝수합: 25000005000000
1에서 천만까지 홀수합: 25000000000000
처리 시간: 2.546875

In [217]:
even_total = 0 
odd_total = 0
start = dt.datetime.now()
for i in range(1, 10**7+1):
    if i % 2 == 0:
        even_total = even_total + i
    else:
        odd_total = odd_total + i
end = dt.datetime.now()
pt = end - start
print('1에서 천만까지 짝수합:', even, '\n1에서 천만까지 홀수합:', odd, '\n처리 시간:', pt)

1에서 천만까지 짝수합: 25000005000000
1에서 천만까지 홀수합: 25000000000000
처리 시간: 0:00:02.580513

In [211]:
tm.process_time

In [220]:
pt.total_seconds()

2.580513

-----

In [227]:
dt.datetime(2020,2,25)

datetime.datetime(2020, 2, 25, 0, 0)

In [221]:
import dateutil as du

In [223]:
du.parser.parse('2020-02-25')

datetime.datetime(2020, 2, 25, 0, 0)

In [224]:
dt.date.today()

datetime.date(2020, 2, 25)

In [228]:
dt.date.today() + du.relativedelta.relativedelta(months = 3)

datetime.date(2020, 5, 25)

In [229]:
dt.date.today() - du.relativedelta.relativedelta(months = 3)

datetime.date(2019, 11, 25)

In [230]:
dt.date.today() + du.relativedelta.relativedelta(months = -3)

datetime.date(2019, 11, 25)

In [232]:
dt.date.today() + du.relativedelta.relativedelta(years = 3)

datetime.date(2023, 2, 25)

**연/월**/주/일/시/분/초 단위 계산 시: dateutil.relativedelta.relativedelta
주/일/시/분/초 단위 계산 시: datetime.timedelta

In [233]:
from datetime import date
from dateutil.relativedelta import relativedelta as rd

In [234]:
date.today() + rd(years = 10)

datetime.date(2030, 2, 25)

In [235]:
date.today() + rd(years = 10, months = 3)

datetime.date(2030, 5, 25)

In [236]:
date.today() + rd(days = 7, hours = 10, minutes = 30, second = 50)

datetime.datetime(2020, 3, 3, 10, 30, 50)

In [239]:
date.today() + rd(weeks = 1, days = 1)

datetime.date(2020, 3, 4)

In [244]:
date.today() + datetime.timedelta(weeks=1)

datetime.date(2020, 3, 3)

In [246]:
date.today() + rd(weekday = cd.FRIDAY)
# 오늘을 기준으로 가장 가까운 다음 금요일
# 요일명은 영문 대문자로

datetime.date(2020, 2, 28)

=====<br>
파이썬에서 csv 파일 읽어들이는 작업
1. import csv
2. file = open("C:\ ~")
3. data = csv.reader(file)

In [247]:
import csv

In [275]:
file = open("C:\data\employees.csv", "r")
# 파이썬으로 파일 불러들임 ; 불러들이기만 함

In [250]:
file

In [276]:
emp_csv = csv.reader(file)
# 파일을 csv 형태로 읽음

In [265]:
next(emp_csv)
# 각 행별로 조회하고 메모리서 삭제

['EMPLOYEE_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'EMAIL',
 'PHONE_NUMBER',
 'HIRE_DATE',
 'JOB_ID',
 'SALARY',
 'COMMISSION_PCT',
 'MANAGER_ID',
 'DEPARTMENT_ID']

In [266]:
for emp_lst in emp_csv:
    print(emp_lst[2], len(emp_lst[2]))
# emp_lst : 자동으로 list 변수로 생성

King 4
Kochhar 7
De Haan 7
Hunold 6
Ernst 5
Austin 6
Pataballa 9
Lorentz 7
Greenberg 9
Faviet 6
Chen 4
Sciarra 7
Urman 5
Popp 4
Raphaely 8
Khoo 4
Baida 5
Tobias 6
Himuro 6
Colmenares 10
Weiss 5
Fripp 5
Kaufling 8
Vollman 7
Mourgos 7
Nayer 5
Mikkilineni 11
Landry 6
Markle 6
Bissot 6
Atkinson 8
Marlow 6
Olson 5
Mallin 6
Rogers 6
Gee 3
Philtanker 10
Ladwig 6
Stiles 6
Seo 3
Patel 5
Rajs 4
Davies 6
Matos 5
Vargas 6
Russell 7
Partners 8
Errazuriz 9
Cambrault 9
Zlotkey 7
Tucker 6
Bernstein 9
Hall 4
Olsen 5
Cambrault 9
Tuvault 7
King 4
Sully 5
McEwen 6
Smith 5
Doran 5
Sewall 6
Vishney 7
Greene 6
Marvins 7
Lee 3
Ande 4
Banda 5
Ozer 4
Bloom 5
Fox 3
Smith 5
Bates 5
Kumar 5
Abel 4
Hutton 6
Taylor 6
Livingston 10
Grant 5
Johnson 7
Taylor 6
Fleaur 6
Sullivan 8
Geoni 5
Sarchand 8
Bull 4
Dellinger 9
Cabrio 6
Chung 5
Dilly 5
Gates 5
Perkins 7
Bell 4
Everett 7
McCain 6
Jones 5
Walsh 5
Feeney 6
OConnell 8
Grant 5
Whalen 6
Hartstein 9
Fay 3
Mavris 6
Baer 4
Higgins 7
Gietz 5

In [285]:
file.close()
# 메모리 닫음

[문제72] employee_id, last_name, salary * 12를 출력해주세요.

In [287]:
file = open("C:\data\employees.csv", "r")
emp_csv = csv.reader(file)
next(emp_csv)
for emp_lst in emp_csv:
    print(emp_lst[0], emp_lst[2], int(emp_lst[7])*12)

100 King 288000
101 Kochhar 204000
102 De Haan 204000
103 Hunold 108000
104 Ernst 72000
105 Austin 57600
106 Pataballa 57600
107 Lorentz 50400
108 Greenberg 144096
109 Faviet 108000
110 Chen 98400
111 Sciarra 92400
112 Urman 93600
113 Popp 82800
114 Raphaely 159720
115 Khoo 45012
116 Baida 42108
117 Tobias 40656
118 Himuro 37752
119 Colmenares 36300
120 Weiss 96000
121 Fripp 98400
122 Kaufling 94800
123 Vollman 78000
124 Mourgos 69600
125 Nayer 38400
126 Mikkilineni 32400
127 Landry 28800
128 Markle 26400
129 Bissot 39600
130 Atkinson 33600
131 Marlow 30000
132 Olson 25200
133 Mallin 39600
134 Rogers 34800
135 Gee 28800
136 Philtanker 26400
137 Ladwig 43200
138 Stiles 38400
139 Seo 32400
140 Patel 30000
141 Rajs 42000
142 Davies 37200
143 Matos 31200
144 Vargas 30000
145 Russell 168000
146 Partners 162000
147 Errazuriz 144000
148 Cambrault 132000
149 Zlotkey 126000
150 Tucker 120000
151 Bernstein 114000
152 Hall 108000
153 Olsen 96000
154 Cambrault 90000
155 Tuvault 84000
156 King 120000
157 Sully 114000
158 McEwen 108000
159 Smith 96000
160 Doran 90000
161 Sewall 84000
162 Vishney 126000
163 Greene 114000
164 Marvins 86400
165 Lee 81600
166 Ande 76800
167 Banda 74400
168 Ozer 138000
169 Bloom 120000
170 Fox 115200
171 Smith 88800
172 Bates 87600
173 Kumar 73200
174 Abel 132000
175 Hutton 105600
176 Taylor 103200
177 Livingston 100800
178 Grant 84000
179 Johnson 74400
180 Taylor 38400
181 Fleaur 37200
182 Sullivan 30000
183 Geoni 33600
184 Sarchand 50400
185 Bull 49200
186 Dellinger 40800
187 Cabrio 36000
188 Chung 45600
189 Dilly 43200
190 Gates 34800
191 Perkins 30000
192 Bell 48000
193 Everett 46800
194 McCain 38400
195 Jones 33600
196 Walsh 37200
197 Feeney 36000
198 OConnell 31200
199 Grant 31200
200 Whalen 52800
201 Hartstein 156000
202 Fay 72000
203 Mavris 78000
204 Baer 120000
205 Higgins 144096
206 Gietz 99600

In [291]:
file = open("C:\data\employees.csv", "r")
emp_csv = csv.reader(file)
next(emp_csv)
cn = 0
for emp_lst in emp_csv:
    print(emp_lst[0], emp_lst[2], int(emp_lst[7])*12)
    cn += 1 
print('출력된 수:', cn)

100 King 288000
101 Kochhar 204000
102 De Haan 204000
103 Hunold 108000
104 Ernst 72000
105 Austin 57600
106 Pataballa 57600
107 Lorentz 50400
108 Greenberg 144096
109 Faviet 108000
110 Chen 98400
111 Sciarra 92400
112 Urman 93600
113 Popp 82800
114 Raphaely 159720
115 Khoo 45012
116 Baida 42108
117 Tobias 40656
118 Himuro 37752
119 Colmenares 36300
120 Weiss 96000
121 Fripp 98400
122 Kaufling 94800
123 Vollman 78000
124 Mourgos 69600
125 Nayer 38400
126 Mikkilineni 32400
127 Landry 28800
128 Markle 26400
129 Bissot 39600
130 Atkinson 33600
131 Marlow 30000
132 Olson 25200
133 Mallin 39600
134 Rogers 34800
135 Gee 28800
136 Philtanker 26400
137 Ladwig 43200
138 Stiles 38400
139 Seo 32400
140 Patel 30000
141 Rajs 42000
142 Davies 37200
143 Matos 31200
144 Vargas 30000
145 Russell 168000
146 Partners 162000
147 Errazuriz 144000
148 Cambrault 132000
149 Zlotkey 126000
150 Tucker 120000
151 Bernstein 114000
152 Hall 108000
153 Olsen 96000
154 Cambrault 90000
155 Tuvault 84000
156 King 120000
157 Sully 114000
158 McEwen 108000
159 Smith 96000
160 Doran 90000
161 Sewall 84000
162 Vishney 126000
163 Greene 114000
164 Marvins 86400
165 Lee 81600
166 Ande 76800
167 Banda 74400
168 Ozer 138000
169 Bloom 120000
170 Fox 115200
171 Smith 88800
172 Bates 87600
173 Kumar 73200
174 Abel 132000
175 Hutton 105600
176 Taylor 103200
177 Livingston 100800
178 Grant 84000
179 Johnson 74400
180 Taylor 38400
181 Fleaur 37200
182 Sullivan 30000
183 Geoni 33600
184 Sarchand 50400
185 Bull 49200
186 Dellinger 40800
187 Cabrio 36000
188 Chung 45600
189 Dilly 43200
190 Gates 34800
191 Perkins 30000
192 Bell 48000
193 Everett 46800
194 McCain 38400
195 Jones 33600
196 Walsh 37200
197 Feeney 36000
198 OConnell 31200
199 Grant 31200
200 Whalen 52800
201 Hartstein 156000
202 Fay 72000
203 Mavris 78000
204 Baer 120000
205 Higgins 144096
206 Gietz 99600
출력된 수: 107

[문제73] last_name, commission_pct를 출력하되 commission_pct의 값이 null("")이면 0d으로 출력해주세요.

In [308]:
file = open("C:\data\employees.csv", "r")
emp_csv = csv.reader(file)
next(emp_csv)
for emp_lst in emp_csv:
    if emp_lst[8] == '':
        emp_lst[8] = 0
    print(emp_lst[2], emp_lst[8])

King 0
Kochhar 0
De Haan 0
Hunold 0
Ernst 0
Austin 0
Pataballa 0
Lorentz 0
Greenberg 0
Faviet 0
Chen 0
Sciarra 0
Urman 0
Popp 0
Raphaely 0
Khoo 0
Baida 0
Tobias 0
Himuro 0
Colmenares 0
Weiss 0
Fripp 0
Kaufling 0
Vollman 0
Mourgos 0
Nayer 0
Mikkilineni 0
Landry 0
Markle 0
Bissot 0
Atkinson 0
Marlow 0
Olson 0
Mallin 0
Rogers 0
Gee 0
Philtanker 0
Ladwig 0
Stiles 0
Seo 0
Patel 0
Rajs 0
Davies 0
Matos 0
Vargas 0
Russell 0.4
Partners 0.3
Errazuriz 0.3
Cambrault 0.3
Zlotkey 0.2
Tucker 0.3
Bernstein 0.25
Hall 0.25
Olsen 0.2
Cambrault 0.2
Tuvault 0.15
King 0.35
Sully 0.35
McEwen 0.35
Smith 0.3
Doran 0.3
Sewall 0.25
Vishney 0.25
Greene 0.15
Marvins 0.1
Lee 0.1
Ande 0.1
Banda 0.1
Ozer 0.25
Bloom 0.2
Fox 0.2
Smith 0.15
Bates 0.15
Kumar 0.1
Abel 0.3
Hutton 0.25
Taylor 0.2
Livingston 0.2
Grant 0.15
Johnson 0.1
Taylor 0
Fleaur 0
Sullivan 0
Geoni 0
Sarchand 0
Bull 0
Dellinger 0
Cabrio 0
Chung 0
Dilly 0
Gates 0
Perkins 0
Bell 0
Everett 0
McCain 0
Jones 0
Walsh 0
Feeney 0
OConnell 0
Grant 0
Whalen 0
Hartstein 0
Fay 0
Mavris 0
Baer 0
Higgins 0
Gietz 0

In [303]:
file = open("C:\data\employees.csv", "r")
emp_csv = csv.reader(file)
next(emp_csv)
cn = 0
for emp_lst in emp_csv:
    print(emp_lst[2], 0 if emp_lst[8] == "" else emp_lst[8])
    cn += 1 
print('출력된 수:', cn)

King 0
Kochhar 0
De Haan 0
Hunold 0
Ernst 0
Austin 0
Pataballa 0
Lorentz 0
Greenberg 0
Faviet 0
Chen 0
Sciarra 0
Urman 0
Popp 0
Raphaely 0
Khoo 0
Baida 0
Tobias 0
Himuro 0
Colmenares 0
Weiss 0
Fripp 0
Kaufling 0
Vollman 0
Mourgos 0
Nayer 0
Mikkilineni 0
Landry 0
Markle 0
Bissot 0
Atkinson 0
Marlow 0
Olson 0
Mallin 0
Rogers 0
Gee 0
Philtanker 0
Ladwig 0
Stiles 0
Seo 0
Patel 0
Rajs 0
Davies 0
Matos 0
Vargas 0
Russell 0.4
Partners 0.3
Errazuriz 0.3
Cambrault 0.3
Zlotkey 0.2
Tucker 0.3
Bernstein 0.25
Hall 0.25
Olsen 0.2
Cambrault 0.2
Tuvault 0.15
King 0.35
Sully 0.35
McEwen 0.35
Smith 0.3
Doran 0.3
Sewall 0.25
Vishney 0.25
Greene 0.15
Marvins 0.1
Lee 0.1
Ande 0.1
Banda 0.1
Ozer 0.25
Bloom 0.2
Fox 0.2
Smith 0.15
Bates 0.15
Kumar 0.1
Abel 0.3
Hutton 0.25
Taylor 0.2
Livingston 0.2
Grant 0.15
Johnson 0.1
Taylor 0
Fleaur 0
Sullivan 0
Geoni 0
Sarchand 0
Bull 0
Dellinger 0
Cabrio 0
Chung 0
Dilly 0
Gates 0
Perkins 0
Bell 0
Everett 0
McCain 0
Jones 0
Walsh 0
Feeney 0
OConnell 0
Grant 0
Whalen 0
Hartstein 0
Fay 0
Mavris 0
Baer 0
Higgins 0
Gietz 0
출력된 수: 107

In [322]:
def ifnull(arg1, arg2):
        if arg1 == '':
            return arg2
        else: 
            return arg1

In [323]:
file = open("C:\data\employees.csv", "r")
emp_csv = csv.reader(file)
next(emp_csv)
for emp_lst in emp_csv:
    print(ifnull(emp_lst[8], 0))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0.4
0.3
0.3
0.3
0.2
0.3
0.25
0.25
0.2
0.2
0.15
0.35
0.35
0.35
0.3
0.3
0.25
0.25
0.15
0.1
0.1
0.1
0.1
0.25
0.2
0.2
0.15
0.15
0.1
0.3
0.25
0.2
0.2
0.15
0.1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0